/*fonts*/
@font-face {
    font-family: SofiaProLightCondensed;
    src: url('../fonts/SofiaProLightCondensed.eot');
    src: url('../fonts/SofiaProLightCondensed.eot?#iefix') format('embedded-opentype'), url('../fonts/SofiaProLightCondensed.woff2') format('woff2'), url('../fonts/SofiaProLightCondensed.woff') format('woff'), url('../fonts/SofiaProLightCondensed.ttf') format('truetype');
}

@font-face {
    font-family: SofiaProRegular;
    src: url('../fonts/SofiaProRegular.eot');
    src: url('../fonts/SofiaProRegular.eot?#iefix') format('embedded-opentype'), url('../fonts/SofiaProRegular.woff2') format('woff2'), url('../fonts/SofiaProRegular.woff') format('woff'), url('../fonts/SofiaProRegular.ttf') format('truetype');
}

@font-face {
    font-family: SofiaProSoftLight;
    src: url('../fonts/SofiaProSoftLight.eot');
    src: url('../fonts/SofiaProSoftLight.eot?#iefix') format('embedded-opentype'), url('../fonts/SofiaProSoftLight.woff2') format('woff2'), url('../fonts/SofiaProSoftLight.woff') format('woff'), url('../fonts/SofiaProSoftLight.ttf') format('truetype');
}

@font-face {
    font-family: SofiaProMedium;
    src: url('../fonts/SofiaProMedium.eot');
    src: url('../fonts/SofiaProMedium.eot?#iefix') format('embedded-opentype'), url('../fonts/SofiaProMedium.woff2') format('woff2'), url('../fonts/SofiaProMedium.woff') format('woff'), url('../fonts/SofiaProMedium.ttf') format('truetype');
}

@font-face {
    font-family: SofiaProExtraLight;
    src: url('../fonts/SofiaProExtraLight.eot');
    src: url('../fonts/SofiaProExtraLight.eot?#iefix') format('embedded-opentype'), url('../fonts/SofiaProExtraLight.woff2') format('woff2'), url('../fonts/SofiaProExtraLight.woff') format('woff'), url('../fonts/SofiaProExtraLight.ttf') format('truetype');
}

* {
    outline: none !important;
}

body {
    font-family: SofiaProSoftLight;
    background: #eef5f9;
    color: rgb(153, 171, 180);
    font-weight: 300;
}

.verticalCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fullHeight {
    height: 100%;
}
