/*fonts*/
@font-face {
    font-family: SofiaProLightCondensed;
    src: url('../fonts/SofiaProLightCondensed.eot');
    src: url('../fonts/SofiaProLightCondensed.eot?#iefix') format('embedded-opentype'), url('../fonts/SofiaProLightCondensed.woff2') format('woff2'), url('../fonts/SofiaProLightCondensed.woff') format('woff'), url('../fonts/SofiaProLightCondensed.ttf') format('truetype');
}

@font-face {
    font-family: SofiaProRegular;
    src: url('../fonts/SofiaProRegular.eot');
    src: url('../fonts/SofiaProRegular.eot?#iefix') format('embedded-opentype'), url('../fonts/SofiaProRegular.woff2') format('woff2'), url('../fonts/SofiaProRegular.woff') format('woff'), url('../fonts/SofiaProRegular.ttf') format('truetype');
}

@font-face {
    font-family: SofiaProSoftLight;
    src: url('../fonts/SofiaProSoftLight.eot');
    src: url('../fonts/SofiaProSoftLight.eot?#iefix') format('embedded-opentype'), url('../fonts/SofiaProSoftLight.woff2') format('woff2'), url('../fonts/SofiaProSoftLight.woff') format('woff'), url('../fonts/SofiaProSoftLight.ttf') format('truetype');
}

@font-face {
    font-family: SofiaProMedium;
    src: url('../fonts/SofiaProMedium.eot');
    src: url('../fonts/SofiaProMedium.eot?#iefix') format('embedded-opentype'), url('../fonts/SofiaProMedium.woff2') format('woff2'), url('../fonts/SofiaProMedium.woff') format('woff'), url('../fonts/SofiaProMedium.ttf') format('truetype');
}

@font-face {
    font-family: SofiaProExtraLight;
    src: url('../fonts/SofiaProExtraLight.eot');
    src: url('../fonts/SofiaProExtraLight.eot?#iefix') format('embedded-opentype'), url('../fonts/SofiaProExtraLight.woff2') format('woff2'), url('../fonts/SofiaProExtraLight.woff') format('woff'), url('../fonts/SofiaProExtraLight.ttf') format('truetype');
}

* {
    font-family: SofiaProSoftLight;
}

body {
    background: #eceff4;
}

footer {
    min-height: 250px;
    background: #282836;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white !important;
}

.flipHorizontal {
    transform: scaleX(-1);
}

.navbar-default {
    background: #3795FD;
    min-height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navbar-brand,
.navbar-nav a {
    color: white !important;
}

#uploadDescription h2 {
    padding: 20px 0;
    font-size: 2em;
}

#uploadDescription {
    font-size: 1.3em;
}

#uploadDescription p {
    margin: 30px auto;
}

#uploadDescription .requirements {
    margin: 50px auto 20px;
    text-transform: uppercase;
    font-family: SofiaProExtraLight;
    letter-spacing: 0.1em;
    opacity: 0.8;
}

#uploadDescription .requirements:before,
#uploadDescription .requirements:after {
    content: ' ';
    display: inline-block;
    max-width: 200px;
    width: 20%;
    min-width: 150px;
    height: 1px;
    background: rgba(0, 0, 0, 0.2);
    margin-bottom: 5px;
}

.requirementIconWrapper {
    display: inline-block;
}

.requirementIconWrapper img {
    width: 30px;
    height: auto;
    margin-right: -15px;
}

.requirementText {
    font-size: 1em;
    text-transform: uppercase;
    font-family: SofiaProExtraLight;
}

.requirementWrapper {
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#uploadWrapper {
    margin: 80px auto 160px;
}

/*-=-=-=-=-=-=-=-=-=-=-= uploadPanelLeft -=-=-=-=-=-=-=-=-=-=-=-*/

.uploadPanelLeft {
    background: #3e4454;
    min-height: 400px;
    border-radius: 10px;
    /*box-shadow: 1px 50px 80px -30px rgba(0,0,0,0.3);*/
    box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.3);
    margin: -15px -15px -15px 8.33333333%;
    position: relative;
    z-index: 2;
    text-align: center;
}

.uploadPanelLeft .titleWrapper h2 {
    font-family: SofiaProExtraLight;
    font-size: 1.8em;
    letter-spacing: 0.2em;
    font-weight: 100;
    color: white;
}

.uploadPanelLeft .titleWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 80px;
}

.uploadPanelLeft .footerWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 80px;
    margin-bottom: 20px;
}

.uploadPanelLeft .footerWrapper .buttonWrap span {
    color: white;
    font-size: 2em;
    margin: 20px;
    opacity: 0.8;
    cursor: pointer;
    transition: all 0.3s ease;
}

.uploadPanelLeft .footerWrapper .buttonWrap span:hover {
    opacity: 1.0;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.uploadPanelLeft .footerWrapper .buttonWrap span.disallowed {
    opacity: 0.3;
    pointer-events: none;
}

.uploadLogoSectionWrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 450px;
}

.uploadLogoSectionWrapper .iconNameWrapper {
    margin: auto;
}

.uploadLogoWrap {
    border-radius: 50%;
    border: 2px solid #FFF;
}

.uploadLogoWrap img {
    padding: 40px;
    box-sizing: content-box;
    height: auto;
    width: 65px;
}

.uploadAppName {
    color: #FFF;
    font-family: SofiaProExtraLight;
    opacity: 0.8;
    margin-top: 40px;
}

.uploadPanelRight {
    position: relative;
    z-index: 1;
    background: #FFF;
    height: calc(630px - 30px);
    border-radius: 10px;
    /*box-shadow: 1px 50px 80px -30px rgba(0,0,0,0.3);*/
    box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.1);
    padding: 0;
    overflow: hidden;
}

.uploadPanelRight .descriptionWrap {
    padding: 30px 40px;
}

.uploadPanelRight .descriptionWrap h4 {
    text-transform: uppercase;
}

.uploadPanelRight .descriptionWrap p {
    font-family: SofiaProRegular;
    color: #3e4454;
    opacity: 0.6;
}

.divider {
    width: 100%;
    height: 1px;
    background: #3e4454;
    opacity: 0.1;
    margin-right: -30px;
}

.uploadLeftWrap {
    width: 50%;
    height: 100%;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    box-shadow: inset 1px 1px 25px 10px rgba(0,0,0,0.005);
    opacity: 0.9;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease;
}

.uploadRightWrap {
    width: 50%;
    height: 100%;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-left: 1px solid rgba(62, 68, 84, 0.10);
    box-shadow: inset 1px 1px 25px 10px rgba(0,0,0,0.005);
    opacity: 0.9;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease;
}

.uploadLeftWrap.haveFile .desContent,
.uploadRightWrap.haveFile .desContent{
    opacity: 0;
    transition: all 0.3s ease;
}

#ipaUpload,
#testUpload{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 100;
}
.dz-message{
    display: none;
}

.uploadContainer {
    display: flex;
    height: calc(100% - 150px);
}

.uploadIcon {
    width: 40px;
    height: 40px;
    background: url(../img/upload.svg) center center no-repeat;
    background-size: 40px 40px;
    margin: 20px auto;
}

.desContent {
    margin: auto;
    width: 100%;
    text-align: center;
    padding: 30px;
    transition: all 0.8s ease;
}

.desContent h4 {
    text-transform: uppercase;
    word-spacing: 4px;
}

.desContent p {
    font-family: SofiaProMedium;
    color: #3e4454;
    opacity: 0.6;
    margin-bottom: 20px;
}

.desContent ol {
    text-align: left;
}

.desContent ol li {
    font-family: SofiaProRegular;
    padding-left: 10px;
    margin: 10px auto;
    color: #3e4454;
    opacity: 0.8;
}

.desContent ol li kbd {
    background: transparent;
    border: 1px solid #00adeb;
    color: #00adeb;
}
