/*fonts*/
@font-face {
    font-family: SofiaProLightCondensed;
    src: url('../fonts/SofiaProLightCondensed.eot');
    src: url('../fonts/SofiaProLightCondensed.eot?#iefix') format('embedded-opentype'), url('../fonts/SofiaProLightCondensed.woff2') format('woff2'), url('../fonts/SofiaProLightCondensed.woff') format('woff'), url('../fonts/SofiaProLightCondensed.ttf') format('truetype');
}

@font-face {
    font-family: SofiaProRegular;
    src: url('../fonts/SofiaProRegular.eot');
    src: url('../fonts/SofiaProRegular.eot?#iefix') format('embedded-opentype'), url('../fonts/SofiaProRegular.woff2') format('woff2'), url('../fonts/SofiaProRegular.woff') format('woff'), url('../fonts/SofiaProRegular.ttf') format('truetype');
}

@font-face {
    font-family: SofiaProSoftLight;
    src: url('../fonts/SofiaProSoftLight.eot');
    src: url('../fonts/SofiaProSoftLight.eot?#iefix') format('embedded-opentype'), url('../fonts/SofiaProSoftLight.woff2') format('woff2'), url('../fonts/SofiaProSoftLight.woff') format('woff'), url('../fonts/SofiaProSoftLight.ttf') format('truetype');
}

@font-face {
    font-family: SofiaProMedium;
    src: url('../fonts/SofiaProMedium.eot');
    src: url('../fonts/SofiaProMedium.eot?#iefix') format('embedded-opentype'), url('../fonts/SofiaProMedium.woff2') format('woff2'), url('../fonts/SofiaProMedium.woff') format('woff'), url('../fonts/SofiaProMedium.ttf') format('truetype');
}

@font-face {
    font-family: SofiaProExtraLight;
    src: url('../fonts/SofiaProExtraLight.eot');
    src: url('../fonts/SofiaProExtraLight.eot?#iefix') format('embedded-opentype'), url('../fonts/SofiaProExtraLight.woff2') format('woff2'), url('../fonts/SofiaProExtraLight.woff') format('woff'), url('../fonts/SofiaProExtraLight.ttf') format('truetype');
}

* {
    font-family: SofiaProSoftLight;
}

body {
    background: #eceff4;
}

footer {
    min-height: 250px;
    background: #282836;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white !important;
}

.flipHorizontal {
    transform: scaleX(-1);
}

.navbar-default {
    background: #3795FD;
    min-height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navbar-brand,
.navbar-nav a {
    color: white !important;
}

#uploadDescription h2 {
    padding: 20px 0;
    font-size: 2em;
}

#uploadDescription {
    font-size: 1.3em;
}

#uploadDescription p {
    margin: 30px auto;
}

#uploadDescription .requirements {
    margin: 50px auto 20px;
    text-transform: uppercase;
    font-family: SofiaProExtraLight;
    letter-spacing: 0.1em;
    opacity: 0.8;
}

#uploadDescription .requirements:before,
#uploadDescription .requirements:after {
    content: ' ';
    display: inline-block;
    max-width: 200px;
    width: 20%;
    min-width: 150px;
    height: 1px;
    background: rgba(0, 0, 0, 0.2);
    margin-bottom: 5px;
}

.requirementIconWrapper {
    display: inline-block;
}

.requirementIconWrapper img {
    width: 30px;
    height: auto;
    margin-right: -15px;
}

.requirementText {
    font-size: 1em;
    text-transform: uppercase;
    font-family: SofiaProExtraLight;
}

.requirementWrapper {
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#uploadWrapper {
    margin: 80px auto 160px;
}

.uploadPanelContainer {
    display: flex;
}

/*-=-=-=-=-=-=-=-=-=-=-= uploadPanelLeft -=-=-=-=-=-=-=-=-=-=-=-*/
#uploadWrapper .container {
    position: relative;
}

.uploadPanelLeft {
    min-width: 180px;
    background: #3e4454;
    /*min-height: 400px;*/
    border-radius: 10px;
    /*box-shadow: 1px 50px 80px -30px rgba(0,0,0,0.3);*/
    box-shadow: 2px 2px 50px -10px rgba(62, 68, 84, 0.5);
    margin: -15px;
    position: absolute;
    z-index: 2;
    text-align: center;
    width: 25%;
    /*transition: all 0.6s cubic-bezier(0.895, 0.23, 0.685, 1.12);*/
    transition: all 0.6s cubic-bezier(.41, -0.1, .19, 1.1);
    /*transition-delay: 0.6s;*/
}

.uploadPanelLeft.fullWidth {
    width: 100%;
    box-shadow: 1px 166px 140px -100px rgba(62, 68, 84, 0.92);
    transition: all 0.6s cubic-bezier(.91, .3, .53, 1.2);
    /*height: initial;*/
    min-height: 630px;
    margin-bottom: 200px;
}

.uploadPanelLeft.finished {
    width: 100%;
    box-shadow: 1px 166px 140px -100px rgba(62, 68, 84, 0.92);
    transition: all 0.6s cubic-bezier(.91, .3, .53, 1.2);
    /*height: initial;*/
    min-height: 630px;
}

.leftContentContainer {
    transition: all 0.6s cubic-bezier(.41, -0.1, .19, 1.1);
    transition-delay: 0s;
}

.uploadPanelLeft.fullWidth .leftContentContainer {
    opacity: 0;
    pointer-events: none;
    transition-delay: 0.3s;
    height: 0;
}

.uploadPanelLeft .titleWrapper h2 {
    font-family: SofiaProExtraLight;
    font-size: 1.8em;
    letter-spacing: 0.2em;
    font-weight: 100;
    color: white;
}

.uploadPanelLeft .titleWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 80px;
}

.uploadPanelLeft .footerWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 80px;
    margin-bottom: 20px;
}

.uploadPanelLeft .footerWrapper .buttonWrap span {
    color: white;
    font-size: 2em;
    margin: 20px;
    opacity: 0.8;
    cursor: pointer;
    transition: all 0.3s ease;
}

.uploadPanelLeft .footerWrapper .buttonWrap span:hover {
    opacity: 1.0;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.uploadPanelLeft .footerWrapper .buttonWrap span.disallowed {
    opacity: 0.3;
    pointer-events: none;
}

.uploadLogoSectionWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 450px;
}

.uploadLogoSectionWrapper .iconNameWrapper {
    margin: auto;
}

.uploadLogoWrap {
    border-radius: 50%;
    border: 2px solid #FFF;
    width: intrinsic; /* fix for safari*/
    margin: auto; /* fix for safari*/
}

.uploadLogoWrap img {
    padding: 40px;
    box-sizing: content-box;
    height: auto;
    width: 65px;
    /*border: 1px solid white;*/
    /*border-radius: 50%*/
}

.uploadAppName {
    color: #FFF;
    font-family: SofiaProExtraLight;
    opacity: 0.8;
    margin-top: 40px;
}

.uploadSuccessText {
    color: #FFF;
    font-family: SofiaProExtraLight;
    opacity: 1;
    margin-top: 40px;
    display: none;
    font-size: 18px;
}

.uploadPanelRight {
    position: relative;
    z-index: 1;
    background: #FFF;
    height: calc(630px - 30px);
    width: 80%;
    margin-left: 22%;
    border-radius: 10px;
    /*box-shadow: 1px 50px 80px -30px rgba(0,0,0,0.3);*/
    box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.1);
    padding: 0 0 0 10px;
    overflow: hidden;
    transition: all 0.6s ease;
}

.uploadPanelRight .descriptionWrap {
    padding: 30px 40px;
}

.uploadPanelRight .descriptionWrap h4 {
    text-transform: uppercase;
}

.uploadPanelRight .descriptionWrap p {
    font-family: SofiaProRegular;
    color: #3e4454;
    opacity: 0.6;
}

.divider {
    width: 100%;
    height: 1px;
    background: #3e4454;
    opacity: 0.1;
    margin-right: -30px;
}

.uploadLeftWrap {
    width: 50%;
    height: 100%;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    box-shadow: inset 0px 0px 100px 0px rgba(236, 239, 244, 0.30);
    opacity: 0.9;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease;
}

.uploadRightWrap {
    width: 50%;
    height: 100%;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-left: 1px solid rgba(62, 68, 84, 0.10);
    box-shadow: inset 0px 0px 100px 0px rgba(236, 239, 244, 0.30);
    opacity: 0.9;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease;
}

.uploadLeftWrap.haveFile .desContent,
.uploadRightWrap.haveFile .desContent {
    opacity: 0;
    transition: all 0.3s ease;
}

#ipaUpload,
#testUpload {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 100;
}

.dz-message {
    display: none;
}

.uploadContainer {
    display: flex;
    height: calc(100% - 150px);
}

.uploadIcon {
    width: 40px;
    height: 40px;
    background: url(../img/upload.svg) center center no-repeat;
    background-size: 40px 40px;
    margin: 20px auto;
}

.desContent {
    margin: auto;
    width: 100%;
    text-align: center;
    padding: 30px;
    transition: all 0.8s ease;
}

.desContent h4 {
    text-transform: uppercase;
    word-spacing: 4px;
}

.desContent p {
    font-family: SofiaProMedium;
    color: #3e4454;
    opacity: 0.6;
    margin-bottom: 20px;
}

.desContent ol {
    text-align: left;
}

.desContent ol li {
    font-family: SofiaProRegular;
    padding-left: 10px;
    margin: 10px auto;
    color: #3e4454;
    opacity: 0.8;
}

.desContent ol li kbd {
    background: transparent;
    border: 1px solid #00adeb;
    color: #00adeb;
}

.uploadPanelLeft.fullWidth .fullWidthContentContainer {
    position: relative;
    opacity: 1;
    pointer-events: all;
    overflow: auto;
    transition: all 0.6s cubic-bezier(1, -0.15, .53, 1.25);
}

.uploadPanelLeft .appsContainer {
    opacity: 0;
    pointer-events: none;
    max-height: 0;
    transition: all 0.6s cubic-bezier(1, -0.15, .53, 1.25), max-height 0.01s linear;
    overflow: hidden;
}

.uploadPanelLeft.fullWidth .appsContainer {
    opacity: 1;
    pointer-events: all;
    transition: all 0.6s cubic-bezier(1, -0.15, .53, 1.25), max-height 5s linear;
    transition-delay: 0.6s;
    max-height: 9999px;
}

.titleWrapperFull {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 80px;
}

.titleWrapperFull h2 {
    font-family: SofiaProExtraLight;
    font-size: 1.8em;
    letter-spacing: 0.2em;
    font-weight: 100;
    color: white;
}

.uploadPanelLeft .titleWrapperFull {
    opacity: 0;
    pointer-events: none;
    transition: all 0.6s cubic-bezier(0, 1.37, .25, 1);
    /*transition-delay: 0.6s;*/
}

.uploadPanelLeft.fullWidth .titleWrapperFull {
    opacity: 1;
    pointer-events: all;
    transition: all 0.6s cubic-bezier(0, 1.37, .25, 1);
    transition-delay: 0.6s;
}

.fullWidthContentContainer {
    position: absolute;
    top: 0;
    width: 100%;
    height: initial;
    text-align: center;
    transition: all 0.6s cubic-bezier(0, 1.37, .25, 1);
}

.fullWidthContentContainer .titleWrapperFull {
    text-transform: uppercase;
}

.fullWidthContentContainer .appsContainer {
    width: 100%;
    /*height: calc(100% - 80px);*/
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: flex-start;
    align-items: center;
    padding: 0 60px;
}

.ghostWrapper {
    width: 160px;
    height: 200px;
    margin: 25px;
    padding: 20px;
}

.appWrapper {
    /*display: inline-block;*/
    min-width: 160px;
    width: 160px;
    height: 200px;
    background: #eceff4;
    border-radius: 8px;
    box-shadow: 0px 0px 3px -2px rgba(236, 239, 244, 0.30);
    margin: 25px;
    padding: 20px;
}

.appWrapper .iconWrapper {
    text-align: center;
}

.appWrapper .appName {
    font-size: 1.5em;
    margin: 15px auto 5px;
}

.appWrapper .iconWrapper img {
    width: 90px;
    height: auto;
}

.newAppWrap {
    background: transparent;
    border: 2px solid white;
    position: relative;
}

.newAppWrap span {
    color: white;
    font-size: 40px;
    opacity: 0.8;
    padding: 20px;
    margin-top: 10px;
}

.newAppWrap .bundleName {
    position: absolute;
    color: white;
    opacity: 0.8;
    width: calc(100% - 40px);
    text-align: center;
    bottom: 10px;
}

/*animation checkmark*/
.checkmarkWrapper {
    display: none;
}

.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 1;
    stroke-miterlimit: 10;
    stroke: #FFF;
    fill: #3e4454;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
    background: transparent;
}

.checkmark {
    width: 156px;
    height: 156px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #fff;
    stroke-miterlimit: 10;
    margin: 10% auto;
    box-shadow: inset 0px 0px 0px #ACACAC;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes scale {
    0%, 100% {
        transform: none;
    }
    50% {
        transform: scale3d(1.1, 1.1, 1);
    }
}

@keyframes fill {
    100% {
        box-shadow: inset 0px 0px 0px 30px #ACACAC;
    }
}

button.viewProfileBtn {
    cursor: pointer !important;
    background: rgba(255, 255, 255, 0.5);
    color: #3e4454;
    border: none;
    padding: 13px 30px;
    text-transform: uppercase;
    border-radius: 8px;
    font-size: 16px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease;
}

button.viewProfileBtn:hover {
    margin-top: -3px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 15px 28px -10px rgba(0, 0, 0, 0.3);
}

#finishedBtn {
    display: none;
    animation-delay: 1s;
}

button.viewProfileBtn span {
    font-size: 16px;
    padding-right: 10px;
}

#existingUpload{
    height: 100%;
}
